@model IEnumerable<AsianFlix.Models.Pagamento>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid p-4 cadastrar">

    <h1>Index</h1>

    <p>
        <a asp-action="Create" class="btn btn-asian">Create New</a>
    </p>
    <table class="table text-light">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataPagamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorPagamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormaPagamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusPagamento)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.ClienteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPagamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorPagamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormaPagamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusPagamento)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PagamentoId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PagamentoId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PagamentoId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>